<article *ngIf="orgDetails">
  <swiper-container [slidesPerView]="1" [loop]="true" [centeredSlides]="false" autoplay-delay="4000">
  <swiper-slide *ngFor="let image of orgDetails.photos">
  <div class="slider-box">
    <ion-img [src]="'https://rainbowsofjoy.org/public/assets/images/org-photo/' + image" />
  </div>
  </swiper-slide>
</swiper-container>
  <ion-title>
    <ion-icon src="assets/icon/org-tick.svg"></ion-icon> 
    <span> {{ orgDetails?.name }}</span>
  </ion-title>
  <div class="divider"></div>
  <div class="card">
    <div class="card-header flex-box">
      <ion-text class="gray underline">
        Bio 
      </ion-text>
      <ion-text class="gray">
        Edit
      </ion-text>
    </div>
    <div class="card-content">
      <ion-text>
        {{ orgDetails?.description }}
      </ion-text>
    </div>
  </div>
  <div class="card">
    <div class="card-header flex-box">
      <ion-text class="gray underline">
        Address
      </ion-text>
      <ion-text class="gray">
        Edit
      </ion-text>
    </div>
    <div class="card-content">
      <ion-text>
        {{ getFullAddress() }}
      </ion-text>
    </div>
  </div>
  <div class="divider"></div>
  <div class="card">
    <div class="card-header flex-box">
      <ion-text class="gray underline">
        Email Id
      </ion-text>
      <ion-text class="gray">
        Edit
      </ion-text>
    </div>
    <div class="card-content">
      <ion-text>
        {{ orgDetails?.email }}
      </ion-text>
    </div>
  </div>
  <div class="divider"></div>
  <div class="card">
    <div class="card-header flex-box">
      <ion-text class="gray underline">
        Phone
      </ion-text>
      <ion-text class="gray">
        Edit
      </ion-text>
    </div>
    <div class="card-content">
      <ion-text>
        {{ orgDetails?.phone }}
      </ion-text>
    </div>
  </div>
  <div class="divider"></div>
  <div class="card">
    <div class="card-header flex-box">
      <ion-text class="gray underline">
        Timing
      </ion-text>
      <ion-text class="gray">
        Edit
      </ion-text>
    </div>
    <div class="card-content">
      <ion-text>
        {{ orgDetails?.start_time }} AM to {{orgDetails?.end_time}} PM
        ({{ orgDetails?.working_days}})
      </ion-text>
    </div>
  </div>
  <div class="divider"></div>
  <div class="card">
    <div class="card-header flex-box">
      <ion-text class="gray underline">
        No. of People
      </ion-text>
      <ion-text class="gray">
        Edit
      </ion-text>
    </div>
    <div class="card-content">
      <ion-text>
        {{ orgDetails?.no_of_people }}
      </ion-text>
    </div>
  </div>
  <div class="divider"></div>
  <div class="card">
    <div class="card-header flex-box">
      <ion-text class="gray underline">
        No. of Rooms
      </ion-text>
      <ion-text class="gray">
        Edit
      </ion-text>
    </div>
    <div class="card-content">
      <ion-text>
        {{ orgDetails?.no_of_room }}
      </ion-text>
    </div>
  </div>
  <div class="divider"></div>
  <div class="card">
    <div class="card-header flex-box">
      <ion-text class="gray underline">
        Started in year
      </ion-text>
      <ion-text class="gray">
        Edit
      </ion-text>
    </div>
    <div class="card-content">
      <ion-text>
        {{ orgDetails?.no_of_year }}
      </ion-text>
    </div>
  </div>
  <div class="divider"></div>
  
</article>
