<ion-content class="ion-padding">
  <div class="language-selection-container">
    <h2>Choose Language / भाषा चुनें</h2>
    <ion-radio-group [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage($event)">
      <ion-item lines="none">
        <ion-label>English</ion-label>
        <ion-radio slot="start" value="en"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>हिन्दी<br><span class="subtext">Hindi</span></ion-label>
        <ion-radio slot="start" value="hi"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>عربي<br><span class="subtext">Arabic</span></ion-label>
        <ion-radio slot="start" value="ar"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>తెలుగు<br><span class="subtext">Telugu</span></ion-label>
        <ion-radio slot="start" value="te"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>অসমীয়া<br><span class="subtext">Assamese</span></ion-label>
        <ion-radio slot="start" value="as"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Türkçe<br><span class="subtext">Turkish</span></ion-label>
        <ion-radio slot="start" value="tr"></ion-radio>
      </ion-item>
     
    </ion-radio-group>
    <div class="text-center" *ngIf="!change_page">
      <ion-button class="next-button" (click)="next()">Next</ion-button>
    </div>
  </div>
    <!-- <ion-button id="open-modal" expand="block">Open Sheet Modal</ion-button> -->

  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">Block of Content</div>
    </ng-template>
  </ion-modal>
</ion-content>
