<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <svg xmlns="http://www.w3.org/2000/svg" width="33" height="37.996" viewBox="0 0 33 37.996">
  <text id="Home" transform="translate(0 34.996)" fill="#999fae" font-size="12" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0">Home</tspan></text>
  <g id="Iconly_Broken_Home" data-name="Iconly/Broken/Home" transform="translate(8.5)">
    <g id="Home-2" data-name="Home" transform="translate(0)">
      <path id="Path_34076" d="M7.922,13.266h-4a2.365,2.365,0,0,1-2.357-2.348V2.962A1.47,1.47,0,0,1,2.1,1.84l.7-.522A.783.783,0,0,0,1.9.075h0L1.174.614A3.026,3.026,0,0,0,0,2.962v7.965a3.93,3.93,0,0,0,3.922,3.922h4a.783.783,0,1,0,0-1.565Z" transform="translate(0 4.991)" fill="#999fae"/>
      <path id="Path_34077" d="M13.906,7.935a3.052,3.052,0,0,0-1.139-2.348L6.758.8A3.609,3.609,0,0,0,2.237.8L.332,2.179a.8.8,0,0,0,.93,1.3l1.93-1.443a2.052,2.052,0,0,1,2.609,0l6.009,4.791a1.47,1.47,0,0,1,.557,1.13v7.965a2.348,2.348,0,0,1-2.348,2.348H8.237a.33.33,0,0,1-.33-.33V14.344a2.078,2.078,0,0,0-2.07-2.078H3.228A2.078,2.078,0,0,0,1.15,14.344v1.374a.783.783,0,1,0,1.565,0V14.344a.5.5,0,0,1,.5-.513H5.828a.5.5,0,0,1,.5.5h0v3.6a1.9,1.9,0,0,0,1.9,1.9H9.976A3.922,3.922,0,0,0,13.9,15.909Z" transform="translate(4.885 0)" fill="#999fae"/>
    </g>
  </g>
</svg>

    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="65"
        height="40"
        viewBox="0 0 58 40"
      >
        <text
          id="Dashboard"
          transform="translate(0 37)"
          fill="#999FAE"
          font-size="12"
          font-family="SegoeUI, Segoe UI"
        >
          <tspan x="0" y="0">Dashboard</tspan>
        </text>
        <g
          id="Iconly_Bulk_Chart"
          data-name="Iconly/Bulk/Chart"
          transform="translate(17)"
        >
          <g id="Chart" transform="translate(2 2)">
            <path
              id="Fill_1"
              data-name="Fill 1"
              d="M14.676,0H5.333C1.929,0,0,1.929,0,5.333v9.333C0,18.071,1.929,20,5.333,20h9.342C18.08,20,20,18.071,20,14.667V5.333C20,1.929,18.08,0,14.676,0"
              fill="#999FAE"
              opacity="0.4"
            />
            <path
              id="Fill_4"
              data-name="Fill 4"
              d="M.827,0A.833.833,0,0,0,0,.836V7.707a.831.831,0,0,0,1.662,0V.836A.835.835,0,0,0,.827,0"
              transform="translate(4.542 7.369)"
              fill="#999FAE"
            />
            <path
              id="Fill_6"
              data-name="Fill 6"
              d="M.827,0A.833.833,0,0,0,0,.836V10.987a.831.831,0,0,0,1.662,0V.836A.835.835,0,0,0,.827,0"
              transform="translate(9.209 4.089)"
              fill="#999FAE"
            />
            <path
              id="Fill_8"
              data-name="Fill 8"
              d="M.836,0A.835.835,0,0,0,0,.836V4.08a.831.831,0,0,0,1.662,0V.836A.833.833,0,0,0,.836,0"
              transform="translate(13.804 10.996)"
              fill="#999FAE"
            />
          </g>
        </g>
      </svg>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="65"
        height="40"
        viewBox="0 0 55 40"
      >
        <text
          id="Donations"
          transform="translate(0 37)"
          fill="#999fae"
          font-size="12"
          font-family="SegoeUI, Segoe UI"
        >
          <tspan x="0" y="0">Donations</tspan>
        </text>
        <g
          id="Iconly_Bulk_Document"
          data-name="Iconly/Bulk/Document"
          transform="translate(15)"
        >
          <g id="Document" transform="translate(3 2)">
            <path
              id="Path"
              d="M13.191,0H4.81C1.77,0,0,1.78,0,4.83V15.16C0,18.26,1.77,20,4.81,20h8.381C16.28,20,18,18.26,18,15.16V4.83C18,1.78,16.28,0,13.191,0"
              fill="#999fae"
              opacity="0.4"
            />
            <path
              id="Combined_Shape"
              data-name="Combined Shape"
              d="M.12,10.3a.8.8,0,0,1,0-.84A.785.785,0,0,1,.87,9.09H8.71a.79.79,0,0,1,0,1.57H.87a.732.732,0,0,1-.1.007A.783.783,0,0,1,.12,10.3ZM.87,6.09a.781.781,0,0,1,0-1.562H8.71a.781.781,0,0,1,0,1.562Zm0-4.521A.78.78,0,1,1,.87.01V0H3.859a.785.785,0,0,1,0,1.57Z"
              transform="translate(4.21 4.65)"
              fill="#999fae"
            />
          </g>
        </g>
      </svg>
    </ion-tab-button>
    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="65"
        height="40"
        viewBox="0 0 34 40"
      >
        <text
          id="Profile"
          transform="translate(0 37)"
          fill="#999fae"
          font-size="12"
          font-family="SegoeUI, Segoe UI"
        >
          <tspan x="0" y="0">Profile</tspan>
        </text>
        <g
          id="Iconly_Bulk_Profile"
          data-name="Iconly/Bulk/Profile"
          transform="translate(6)"
        >
          <g id="Profile-2" data-name="Profile" transform="translate(3 2)">
            <ellipse
              id="Ellipse_744"
              cx="5.625"
              cy="5.556"
              rx="5.625"
              ry="5.556"
              transform="translate(3.375 0)"
              fill="#999fae"
              opacity="0.4"
            />
            <path
              id="Path_34198"
              d="M17.99,3.342h0a1.854,1.854,0,0,0,0-.237,2.143,2.143,0,0,0-.244-.84C17.2,1.2,15.666.712,14.387.438A18.877,18.877,0,0,0,11.614.073L10.637,0H7.357L6.38.073A18.877,18.877,0,0,0,3.607.438C2.328.676.795,1.169.248,2.265A2.143,2.143,0,0,0,0,3.105a1.854,1.854,0,0,0,0,.237H0A2.007,2.007,0,0,0,0,3.58a2.146,2.146,0,0,0,.254.831C.8,5.479,2.338,5.963,3.617,6.237A21.707,21.707,0,0,0,6.39,6.6l.976.064h3.281l.976-.064A21.707,21.707,0,0,0,14.4,6.237c1.279-.247,2.812-.731,3.359-1.826A2.368,2.368,0,0,0,18,3.562,1.786,1.786,0,0,0,17.99,3.342Z"
              transform="translate(0 13.333)"
              fill="#999fae"
            />
          </g>
        </g>
      </svg>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
