ion-content{
  font-family: var(--ion-font-family, inherit);
  --color: #5B5B5B;
}
.filters{
    ion-col {
        text-align: center;
        padding: 20px;
    }
}
hr{
    background: grey;
}
.header-card {
    margin-top: 45px;
    box-shadow: none;
}
.filter-card{
    padding: 15px;    
}
.active {
    color:  var(--main-color);
    font-weight: bold; 
    svg{
        fill: var(--main-color);
    }
  }

  .checkbox-style ion-radio {
    --border-radius: 4px;
    --size: 20px; 
    --border-width: 2px;
    --color-checked: #3880ff; 
    --color: #dedede; 
    --background: #fff; 
  }
  
  .checkbox-style ion-radio[aria-checked="true"] {
    --background: #3880ff; 
    --color: #fff; 
  }
  
  form{
    padding: 15px;
    ion-item{
      --padding-start: px;
    }
   
  }
  ion-label {
    margin-bottom: 10px;
}
.filter-section{
    padding: 10px;
}