<ion-content class="ion-padding">
  <div class="login-register-container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo">
    </div>
    
   <div class="tabs">
  <input type="radio" [(ngModel)]="selectedTab" (click)="selectedTabs('login')" id="login-tab" name="tabs" value="login">
  <label for="login-tab" class="tab">Login</label>

  <div class="tab-separator"></div>

  <input type="radio" [(ngModel)]="selectedTab"  (click)="selectedTabs('register')" id="register-tab" name="tabs" value="register">
  <label for="register-tab" class="tab">Register</label>

  <span class="active-indicator"></span>
</div>

<div class="tab-content">
  <!-- Login content -->
  <div [ngClass]="{'login-content': true, 'show-tab': activeTab == 'login'}" >
    <div class="login-container">
    <form class="login-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="form-group">
      <input
        type="text"
        name="username"
        [(ngModel)]="userName"
        #username="ngModel"
        required
        placeholder="Email or Phone No."
        class="form-input"
      />
      <div *ngIf="username.invalid && username.touched" class="error-message">
        Username is required
      </div>
    </div>

    <div class="form-group">
      <input
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        [(ngModel)]="passWord"
        #password="ngModel"
        required
        placeholder="Password"
        class="form-input"
      />
      <ion-icon
        [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
        class="password-toggle"
        (click)="togglePasswordVisibility()"
      ></ion-icon>
      <div *ngIf="password.invalid && password.touched" class="error-message">
        Password is required
      </div>
    </div>

    <div class="remember-me">
      <input type="checkbox" id="remember" class="remember-checkbox" />
      <label for="remember">Remember Me</label>
    </div>

    <ion-button type="submit" class="login-button" [disabled]="loginForm.invalid">Login</ion-button>
  </form>

      
      <div class="social-login">
        <div class="divider">
          <span class="divider-text">or login with</span>
        </div>
        <div class="social-icons">
          <img src="assets/icon/google.svg">
          <img src="assets/icon/apple.svg">
          <img src="assets/icon/facebook.svg">
        </div>
      </div>
    </div>
  </div>

  <!-- Register content -->
  <div [ngClass]="{'register-content': true, 'show-tab': activeTab == 'register'}">
    <ion-button expand="block" (click)="selectedTabs('donor')" class="donor-btn">Donor</ion-button>
    <ion-button expand="block" (click)="selectedTabs('organisation')" class="organization-btn">Organisation</ion-button>
  </div>
  <!-- donor register -->
  <div [ngClass]="{'login-content': true, 'show-tab': activeTab == 'donor'}" >
    <div class="login-container">
      <form class="login-form">
        <div class="form-group">
          <input type="text" placeholder="Full Name" class="form-input">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Email or Phone No." class="form-input">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-input">
          <ion-icon name="eye-off-outline" class="password-toggle"></ion-icon>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Confirm Password" class="form-input">
          <ion-icon name="eye-off-outline" class="password-toggle"></ion-icon>
        </div>
        <div class="remember-me">
          <input type="checkbox" id="remember" class="remember-checkbox">
          <label for="remember">Remember Me</label>
        </div>
        <ion-button type="submit" class="login-button" routerLink="/register-profile">Register as Donor</ion-button>
      </form>
    </div>
  </div>
  <!-- Organisation register -->
  <div [ngClass]="{'login-content': true, 'show-tab': activeTab == 'organisation'}">
    <div class="login-container">
      <form class="login-form"  #orgRegForm="ngForm" (ngSubmit)="register(orgRegForm)">
        <div class="form-group">
          <input type="hidden" name="user_type" [(ngModel)]="orgType"/>
          <input type="text" placeholder="Name of Organisation" class="form-input" name="name" [(ngModel)]="orgName" #orgname="ngModel" required>
          <div *ngIf="orgname.invalid && orgname.touched" class="error-message">
            Org name is required
          </div>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Email or Phone No." class="form-input" name="email_or_phone" [(ngModel)]="emailPhone" #email_or_phone="ngModel" required>
          <div *ngIf="email_or_phone.invalid && email_or_phone.touched" class="error-message">
            Email/Phone No. is required
          </div>
        </div>
        <div class="form-group">
          <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" class="form-input" name="password" [(ngModel)]="orgPassword" #passwords="ngModel" required minlength="8" maxlength="16">
          <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" class="password-toggle" (click)="togglePasswordVisibility()"></ion-icon>
          <div *ngIf="passwords.invalid && passwords.touched" class="error-message">
            Password is required and must be between 8 and 16 characters.
          </div>
        </div>
        <div class="form-group">
          <input [type]="showPassword ? 'text' : 'password'" placeholder="Confirm Password" class="form-input" name="confirm_password" [(ngModel)]="orgConfirmPassword" #c_passwords="ngModel" required minlength="8" maxlength="16">
          <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" class="password-toggle" (click)="togglePasswordVisibility()"></ion-icon>
          <!-- Show mismatch error only when both passwords are filled and don't match -->
          <div *ngIf="orgConfirmPassword !== orgPassword && c_passwords.touched" class="error-message">
            Password and Confirm Password must match.
          </div>
        </div>
        
        <div class="remember-me">
          <input type="checkbox" id="remember" class="remember-checkbox" required>
          <label for="remember">Agree to the Terms & Conditions</label>
        </div>
        <ion-button type="submit"  class="login-button"  [disabled]="orgRegForm.invalid || orgConfirmPassword !== orgPassword">Register as Organisation</ion-button>
      </form>
    </div>
  </div>
</div>
  </div>
</ion-content>