/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import 'swiper/swiper-bundle.css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
:root {
  --main-color: #F04E75; /* Default */
  --main-background-color: white; /* Default */
  --black-color:#262222;
  --button-shadow:0px 7px 20px #00000026;
  --swiper-pagination-color:var(--main-color);
--swiper-pagination-bottom: 0 !important;
}
// ::ng-deep .swiper-button-next svg {
//     width: 20px !important;
//     height: 13px !important;
//     padding: 7px !important;
//     color: #fff !important;
//     border-radius: 50% !important;
//     background: #c9c9c9 !important;
//     object-fit: contain !important;
//     transform-origin: center!important;
// }
.col-50 {
    width: 50%;
}
.password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}
.gray{
    color:#999fae;
}
.underline{
    text-decoration: underline;
}
ion-label{
   display: block;
   margin-bottom: 15px;
}
ion-text {
    display: block;
}

.text-center{
    text-align: center;
}
.ion-valid.sc-ion-input-md-h {
    --highlight-color: #8e74e100 !important;
}
// .gradient-bg{
//     --background: linear-gradient(146.07deg, #a980e1 1.58%, #7067df 102.31%) !important;
//  border-radius: 0px 0px 10px 10px !important;
// }
.div-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.sc-ion-buttons-md-s .button {
    --background-hover: currentColor;
    color: #fff !important;
}
ion-button{
    --box-shadow: unset;
}
.logo {
    text-align: center;
    padding: 20px 0px 40px 0px;

    img {
        max-width: 30%;
    }
}
.form-group {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 18px 15px;
    border: none;
    color: #5B5B5B;
    background-color: #F7F7FA;
    border-radius: 8px;
    font-size: 17px;
}
.form-select {
    --background: #F7F7FA;
    --padding-start: 12px;
    --padding-end: 12px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    border-radius: 8px;
    --border-width: 0px;
    --border-color: transparent;
    --box-shadow: none;
    border:none;
    height: 55px;
    border-radius: 4px;
}
ion-select {
    color:#5B5B5B;
}
ion-select::part(label),
ion-select::part(text) {
    font-size: 17px;
}
.modal-handle {
    width: 45px !important;
    height: 10px !important;
}
.footer-buttons {
    text-align: center;

    ion-button {
        --background: var(--main-color);
        --border-radius: 4px;
        --padding-top: 18px;
        --padding-start: 60px;
        --padding-end: 60px;
        --padding-bottom: 18px;
        margin-top: 20px;
        text-transform: capitalize;
    }
}
.show-tab {
    opacity: 1;
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}
.fade-animation{
    animation:fadeIn 0.3s ease-in;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.error-message {
    margin-top: 5px;
    margin-left: 5px;
    color: #b90000;
    font-size: 14px;
}
.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article {
    margin: 10px 0px;
}
.ripple-icon {
    position: relative;
    overflow: hidden;
}

.ripple-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.ripple-icon:active::after {
    transform: scale(2);
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.donate-btn{
    --background: var(--main-color);
    color: #fff;
    width: 100%;
    text-align: center;
    text-transform: inherit;
    --border-radius: 10px;
}
.custom-height-filter-modal {
    --height: 275vh;
    --border-radius: 16px; 
}
.mb0{
    margin-bottom: 0px;
}
.mt0{
    margin-top: 0px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.close-icon{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 20px;
    color: grey;
    z-index: 999;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(assets/icon/calendar.svg) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}
.black{
    color: black;
}