<ion-icon class="close-icon" name="close-circle-outline" (click)="close()"></ion-icon>
<ion-content>
  <ion-card class="share-card">
  <ion-card-header>
    <ion-text class="title">Sri Vidhyas Centre For The Special Children</ion-text>
    <p class="date">27 Aug 2020</p>
    <hr class="hr">
  </ion-card-header>
  <ion-card-content>Lorem ipsum dolor sit amet, 
    consetetur sadipscing elitr, sed diam 
    nonumy eirmod tempor invidunt ut 
    labore et dolore magna aliquyam erat, 
    sed diam voluptua. At vero eos et 
    accusam et justo duo dolores et ea 
    rebum. Stet clita kasd gubergren, no</ion-card-content>
    <hr class="hr">
    <div class="mt20">
      <ion-icon src="assets/icon/fb.svg"></ion-icon> <ion-icon src="assets/icon/twitter.svg"></ion-icon><ion-icon src="assets/icon/whatsapp.svg"></ion-icon>
      <ion-icon src="assets/icon/insta.svg"></ion-icon>
    </div>
    </ion-card>
</ion-content>